# HTID:23422420: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW

php_value display_errors 1

# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:23422420:

RewriteEngine On

# Check if the requested file is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Check if the requested file is not a file
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite rule to add .php extension internally
RewriteRule ^([^/.]+)$ $1.php [L]